*{
	margin: 0;
	padding: 0;
}
body{
	overflow: hidden;
}
#myCanvas{
	border: 1px solid black;
	position: absolute;
	top: 10%;
	left: 0;
	width: calc(80% - 2px);
	height: calc(90% - 2px);
}
.animated{
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-ms-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	transition: all 0.5s ease;
}

.blur{
	-webkit-filter: blur(10px); 
    -moz-filter: blur(10px); 
    filter: blur(10px);
}

#topPanel{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	background-color: red;
}
#leftPanel{
	position: absolute;
	top: 10%;
	right: 0;
	width: 20%;
	height: 90%;
	background-color: blue;
	overflow-y:scroll;
	overflow-x:hidden;
}
.leftContainter{
	position: relative;
	margin: 5px;
	width: calc(100% - 10px);
	min-height: 150px;
	background: green;
}
.verticalMenu{
	position: relative;
	margin: 2px;
	height: calc(50% - 4px);
	width: calc(100% - 4px);
	background-color: pink;
}
/**
 * COLORS
 */
.colorPatern{
	float: left;
	width: 18px;
	height: 18px;
	border: 1px solid white;
	border-radius: 5px;
	margin: 1px;
}

.colorPatern.selected{
	width: 14px;
	height: 14px;
	border: 3px solid black;
}
#colorPalete{
	border: 1px solid black;
	position: relative;
	width: 100%;
	height: calc(100% - 20px);
}
/**
 * LAYERS
 */

.layer{
	position: relative;
	width: calc(100% - 10px);
	top: 5px;
	padding: 10px;
	height: 20px;
	margin: 5px;
	border: 1px solid black;
}

/**
 * TOOLS
 */

.toolIcon{
	width: 50px;
	height: 50px;
	border-radius: 20px;
	border: 1px solid black;
	position: relative;
	margin: 20px;
}