<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="#" id="formular">
		<div>
			<label for="meno">Meno:</label>
			<input type="text" id="meno">
		</div>
		<div>
			<label for="vek">Vek:</label>
			<input type="text" id="vek">
		</div>
		<div>
			<label for="priezvisko">Priezvisko:</label>
			<input type="text" id="priezvisko">
		</div>
		<div>
			<label for="email">Email</label>
			<input type="text" id="email">
		</div>
		<div>
			<label for="heslo">Heslo</label>
			<input type="password" id="heslo">
		</div>
		<div>
			<input type="submit" value="potvrd">
		</div>
	</form>
</body>
<script type="text/javascript">
	var e = document.getElementById("formular");
	e.onclick = function(){
		alert("aaaaaaaaaa");
		return false;
	}
</script>
</html>
